@{
    ViewBag.Title = "Home Page";
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Call <i>the site visitors</i></h3>
        <div class="box-tools pull-right">
            @*<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="glyphicon glyphicon-minus"></i></button>*@
            <button class="btn btn-box-tool" data-widget="refresh" data-toggle="tooltip" title="Refresh"><i class="glyphicon glyphicon-refresh"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Specialist</th>
                    <th>Date</th>
                    <th>Status</th>
                    @*<th>Reason</th>*@
                </tr>
                <tr>
                    <td>183</td>
                    <td>John Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-success">Approved</span></td>
                    @*<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>*@
                </tr>
                <tr>
                    <td>219</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-warning">Pending</span></td>
                    @*<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>*@
                </tr>
                <tr>
                    <td>657</td>
                    <td>Bob Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-warning">Approved</span></td>
                    @*<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>*@
                </tr>
                <tr>
                    <td>175</td>
                    <td>Mike Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-danger">Denied</span></td>
                    @*<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>*@
                </tr>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box-body -->
</div><!-- /.box -->
<div class="row">
    <h1>
        Select
        <small>service</small>
    </h1>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-share-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Service #</span>
                <span class="info-box-number">1,410</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="glyphicon glyphicon-share-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Service #</span>
                <span class="info-box-number">410</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="glyphicon glyphicon-share-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Service #</span>
                <span class="info-box-number">13,648</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">@Html.ActionLink(" ", "Ticket", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-share-alt adm" })</span>
            <div class="info-box-content">
                <span class="info-box-text">Service #</span>
                <span class="info-box-number">93,139</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div>